/* styles.css */

/* Fonts  */

@font-face {
    font-family: 'RuckSack Book';
    src: url('fonts/RuckSack/RuckSack-Book.woff2') format('woff2'),
        url('fonts/RuckSack/RuckSack-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RuckSack Black';
    src: url('fonts/RuckSack/RuckSack-Black.woff2') format('woff2'),
        url('fonts/RuckSack/RuckSack-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RuckSack Medium';
    src: url('fonts/RuckSack/RuckSack-Medium.woff2') format('woff2'),
        url('fonts/RuckSack/RuckSack-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RuckSack Bold';
    src: url('fonts/RuckSack/RuckSack-Bold.woff2') format('woff2'),
        url('fonts/RuckSack/RuckSack-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RuckSack Demi';
    src: url('fonts/RuckSack/RuckSack-Demi.woff2') format('woff2'),
        url('fonts/RuckSack/RuckSack-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RuckSack Light';
    src: url('fonts/RuckSack/RuckSack-Light.woff2') format('woff2'),
        url('fonts/RuckSack/RuckSack-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* General */

body {
    font-family: 'Rucksack Light', system-ui;
    font-weight: 400;
}

h1 {
    font-family: 'Rucksack Light', system-ui;
    font-weight: 600;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
}

strong {
    font-family: 'RuckSack Demi'
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.page-break {
    page-break-inside: avoid;
}

@media (max-width: 768px) { /* Display for mobile */
    .navbar {
      max-width: 920px; /* To prevent header of Los page overflowing too far */
    }
    .footer {
        min-width: 920px;
    }
    .pitch-content {
        min-width: 900px;
    }
    .signup-container {
        display: block;
        width: 800px;
    }
  }

/* HEADER */

.navbar {
    background-color: rgb(11, 64, 96); 
    height: 143px;
    padding: 0px;
    width: fit-content;  
    left: 0;
    right: 0;
}


.header-contents {
    margin: 0px 135px;
    padding: 5px 0px;
    width: 1170px;
    min-height: 143px;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 14px;
    align-items: center;
    font-weight: 250;
}


.navbar-logo {
    /* height: 109px !important;
    width: 109px !important; */
    height: 133px;
    width: 157px;
    padding: 12px 24px;
}

.dropdown-toggle,
.navbar-item {
    color: rgb(241, 240, 240);
    cursor: pointer;
    padding: 5px;
    margin: 0px 14.140px;
    background: none;
	border: none;
	padding: 0;
    text-transform: uppercase;
}

.dropdown-toggle {
    padding: 10px;
}
.dropdown-toggle:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

.dropdown-toggle:focus,

.dropdown-toggle:active,
.dropdown.show .dropdown-toggle {
    background-color: rgb(34, 91, 126) !important;
    border: none !important;
    box-shadow: 1px 1px 1px black !important;
    border-radius: 0px;
}

.header-start,
.header-end {
    display: flex; 
    align-items: center; 
    font-size: 14px;
}

.header-end {
    margin-left: auto;
    padding: 0px 5px;
    
}

.save-button {
    background-color:rgb(34, 91, 126);
    padding: 10px;
    box-shadow: 2px 2px 2px black;
    color: white;
    border: none;
}

.navbar-item.primary {
    padding: 10px 0px 7px 0px;
    border-bottom: 3px white solid;
}

.bi-box-arrow-right, 
.bi-file-pdf {
    font-size: 25px;
}

.save-button:focus {
    outline: none; /* Removes the default focus outline */
}

button[data-tooltip] {
    position: relative;
}

/* Tooltip container */
button[data-tooltip]::after {
    content: attr(data-tooltip); /* Get tooltip text from the data-tooltip attribute */
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-in-out;
    z-index: 10;
}

/* Show tooltip on hover */
button[data-tooltip]:hover::after {
    opacity: 1;
}

/* FOOTER */

.footer {
    padding: 10px;
    margin-top: auto;
    background-color: rgb(11, 64, 96); 
    color: white;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
};


/* NOTIFICATIONS */

.notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    color: #fff;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    
}

.success-notification {
    background-color: rgba(159, 236, 163, 0.523);
    padding: 5px; 
}

.error-notification {
    background-color: rgba(236, 159, 159, 0.704);
    padding: 5px; 
}



/* LOGIN  */

.signup-container {
    display: flex;
    max-height: 100vh;   
}

.login-form {
    flex-basis: 30%;
    display: flex;
    min-width: 30%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    border-radius: 0;
}

.road-image {
    flex-basis: 70%;
    height: 100vh;
    max-width: 70%;
    object-fit: cover;
}

.login-button {
    margin-top: 24px;
    margin-bottom: 10px;
    height: 36px;
    width: 201px;
    background-color: rgb(11, 64, 96);
    border: none;
    }

.toggle-signup {
    display: flex;
    align-items: center;
}

.signup-link {
    padding: 0;
    margin-bottom: 16px;
    padding-left: 5px;
}

/* HOME PAGE */

.new-program-button {
    width: 300px;
    background-color:rgb(34, 91, 126);
    padding: 10px;
    color: white;
    border: 1px black solid;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s; 
    margin: 8px;
}

.edit-delete-program-btn {
    background-color:rgb(34, 91, 126);
    padding: 5px;
    color: white;
    border: 1px black solid;
    margin: 5px;
}

.new-program-button:hover {
    transform: translateY(-2px); /* Lift the button slightly */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5); /* Enhance shadow on hover */
}

/* ELEVATOR PITCH PAGE */
.pitch-content {
    display: flex;
    flex-direction: row;
    height: calc(100vh-143px-44px); /* viewheight - header - footer */
    gap: 40px;
    margin: 20px;
}  

.pitch-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    overflow-y: auto;
    padding: 10px
}

.pitch-input {
    border-radius: 3px;
    padding: 8px;
    min-height: 60px;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 250;
    border: 1px solid #ccc;
}



.pitch-card {
    font-size: 25px;
    width: 50%;
    overflow-y: auto;
    padding: 20px;
}

/* LOS PAGE */

/* Main layout  */
.los-container {
    flex-grow: 1; 
    display: flex;
    height: calc(100vh-143px-44px); /* viewheight - header - footer */
    width: 100%; 
}

.accordion-container {
    flex-basis: 10%;
    
}

.user-los-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    flex-basis: auto;
    padding-left: 10px;
    flex-basis: 90%;
}


/* Accordion styling */

.accordion-button {
    background-color: rgb(11, 64, 96) !important;
    color: white !important;
    text-align: center; 
    font-size: 17px;
    width: 152px;
    text-transform: uppercase;
    margin-top: 8px;
}

.accordion-body {
    width: 152px;
    max-height: calc(100vh - 150px); 
    overflow-y: auto;
    padding-right: 10px;
    padding: 0 3px;
    cursor: grab;
}

.answer-box {
    margin-bottom: 5px;
    border: 1px solid rgba(11, 63, 96, 0.239);
    padding: 3px;
}



/* Title and details cards */
.title-card {
    background-color:  rgb(11, 64, 96);
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 0;
    border-top: 1px;
    text-transform: uppercase;
    min-height: 25px;
}

.details-card {
    padding: 8px;
    border: none;
    margin-bottom: 10px;
    min-height: 60px;
}


/* Input sections layout */

.input-sections {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;

}

.input-section-container {
    position: relative; /* positions the delete button on empty field */
    border: none;
}

.input-titles {
    background-color:  rgb(11, 64, 96);
    color: white;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}
.titles-answers-container {
    display: flex;
    justify-content: space-between;
}

.delete-input {
    position: absolute;
    top: 0px;
    right: 3px;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 140, 140);
    color: white;
    cursor: pointer;
    border: none;
    font-size: 13px;
    text-align: center;
}

    
.input-contenteditable {
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 4px;
    min-height: 35px;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    outline: none;
    margin-bottom: 5px;
    max-width: 225px;
}

.add-input-button {
    border: 0;
    margin-bottom: 5px;
}

/* FORGOT PASSWORD FORM */
.forgot-password-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* PASSWORD RESET FORM */
.reset-password-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}